<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/0cb6534610.js" crossorigin="anonymous"></script>
    <title>Agenda</title>
</head>
<body>
    <header>
        <div class="header center">
            <h1>Calendário Semanal</h1>
        </div>
    </header>
    <section class="content">
        <div class="card">
            <h2>Segunda</h2>
            <p>project</p>
        </div>
    </section>

    <div class="floating">
        <i class="fa-solid fa-plus active"></i>
        <i class="fa-solid fa-minus"></i>
        <div class="floatingActive">
            <div>
                <form action="/cards" method="post">
                    <label for="atendimento">Atendimento:</label>
                    <input type="text" name="atendimento" id="atendimento" required>

                    <label for="cliente">Cliente:</label>
                    <input type="text" name="cliente" id="cliente" required>

                    <label for="entrada">Entrada:</label>
                    <input type="text" name="entrada" id="entrada" required>

                    <label for="saida">Saida:</label>
                    <input type="text" name="saida" id="entrada" required>
                    
                    <input type="submit" value="ADD" class="buttonAdd">
                </form>
            </div>
        </div>
    </div>


    <script src="./js/index.js"></script>
</body>
</html>