* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-weight: bold;
  font-size: 1rem;
  list-style: none;
}

h1{
  font-size: 1.3em;
}
h2{
  font-size: 22px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 7%;
  padding: 7% 0;
  background-color: #F4E3B2;
}

.content{
  position: relative;
  padding-top: 24%;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4% 2%;
  margin: 3%;
  background-color: #D3D5D7;
  border-radius: 5px;
}

/* Menu flutuante */

.floating{
  position: fixed;
  right: 2%;
  bottom: 4%;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4E3B2;
  z-index: 999999;
  transition: 300ms ease-in-out;
}

.floating.active{
  position: fixed;
  height: 90%;
  width: 90%;
  padding: 4% 2%;
  border-radius: 5px;
  background-color: #D3D5D7;
}

.fa-plus.active{
  display: block !important;
}

.fa-plus{
  display: none !important;
}

.fa-minus{
  display: none !important;
  position: absolute;
  right: 0;
  top: 0;
  padding: 4% 4%;
}

.fa-minus.active{
  display: block !important;
}



.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name input{
  margin-bottom: 20px;
}

.floatingActive{
  display: none !important;
  width: 90%;

}

.floatingActive.active{
  display: block !important;
  transition: 300ms ease-in-out all;
}

.floatingActive form{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1em;
}

.floatingActive form input{
  width: 100%;
  border: 0;
  border-bottom: 1px #000 solid;
  background-color: transparent;
}
input[type=button]{
  border: 0px !important;
  background-color: #F4E3B2 !important;
  border-radius: 10px !important;
  padding: 10px;
  margin-top: 20px;
}
input[type=button]:focus{
  border: 0px !important;
}
input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  border-bottom: 1px red solid !important;
  outline: 0;
} 
